.crimson {
  color: crimson; }

.royalblue {
  color: royalblue; }

.blueviolet {
  color: blueviolet; }

.deeppink {
  color: deeppink; }

.limegreen {
  color: limegreen; }

.red {
  color: red; }

.white-bg {
  background-color: white; }

.lightgray-bg {
  background-color: lightgray; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  background-image: url(../media/img/test6.webp);
  font-family: sans-serif;
  color: white;
  overflow-x: hidden; }

.indexHeader {
  padding: 3% 5%; }
  .indexHeader h1 {
    font-size: 10em; }
  .indexHeader h2 {
    font-size: 3em; }

.indexMain {
  padding: 0 5%;
  font-size: 3em; }
  .indexMain a {
    text-decoration: none;
    color: white; }

.compraHeader {
  width: 100%;
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas: ". SEARCH CART";
  gap: 20px; }
  .compraHeader #searchForm {
    grid-area: SEARCH;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto; }
    @media screen and (min-width: 900px) {
      .compraHeader #searchForm {
        width: 70%; } }
    .compraHeader #searchForm .searchBar {
      width: 90%;
      font-size: 1.5em; }
    .compraHeader #searchForm .searchBtn {
      font-size: 1.5em; }
  .compraHeader #carritoOpen {
    grid-area: CART;
    font-size: 1.5em;
    width: 80%;
    margin: auto; }

.compraMain {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "CATEGORIAS PIEDRAS";
  margin: auto;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .compraMain {
      width: 90%; } }
  @media screen and (min-width: 992px) {
    .compraMain {
      width: 80%; } }
  @media screen and (min-width: 1200px) {
    .compraMain {
      width: 70%; } }
  .compraMain .categorias {
    grid-area: CATEGORIAS;
    width: 100%;
    background-color: lightgrey;
    color: grey;
    text-align: left;
    padding: 10px; }
    .compraMain .categorias ul {
      padding-left: 10px;
      list-style: none; }
      .compraMain .categorias ul li {
        color: inherit;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.1em; }
    .compraMain .categorias #categoriasActivas {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .compraMain .categorias #categoriasActivas li {
        background-color: grey;
        color: lightgray;
        margin: 2px;
        padding: 2px; }
  .compraMain .piedras {
    grid-area: PIEDRAS;
    background-color: white;
    color: black;
    list-style: none; }
    .compraMain .piedras .piedra {
      width: 100%;
      max-height: 20vh;
      padding: 1% 3%;
      border-top: 1px lightgrey solid;
      border-bottom: 1px lightgrey solid;
      display: grid;
      grid-template-columns: 1.5fr 4fr 1fr;
      grid-template-areas: "FOTO DATOS CARR"; }
      .compraMain .piedras .piedra .piedraFoto {
        grid-area: FOTO;
        text-align: center; }
        .compraMain .piedras .piedra .piedraFoto img {
          max-height: 130px; }
      .compraMain .piedras .piedra .piedraDatos {
        grid-area: DATOS; }
        .compraMain .piedras .piedra .piedraDatos .piedraCats {
          list-style: none;
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          gap: 10px; }
          .compraMain .piedras .piedra .piedraDatos .piedraCats li {
            color: grey; }
      .compraMain .piedras .piedra .piedraCarrito {
        grid-area: CARR;
        display: grid;
        grid-template-rows: 1fr 0.75fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "BTN BTN BTN" "MNS AMT PLS"; }
        .compraMain .piedras .piedra .piedraCarrito .agCartBtn {
          grid-area: BTN;
          font-size: 1.1em; }
        .compraMain .piedras .piedra .piedraCarrito .minBtn {
          grid-area: MNS;
          font-size: 1.1em; }
        .compraMain .piedras .piedra .piedraCarrito .plsBtn {
          grid-area: PLS;
          font-size: 1.1em; }
        .compraMain .piedras .piedra .piedraCarrito .amCart {
          text-align: center;
          grid-area: AMT;
          font-size: 1.1em;
          width: 100%;
          -webkit-appearance: textfield;
          -moz-appearance: textfield;
          appearance: textfield; }
        .compraMain .piedras .piedra .piedraCarrito .amCart::-webkit-inner-spin-button,
        .compraMain .piedras .piedra .piedraCarrito .amCart::-webkit-outer-spin-button {
          -webkit-appearance: none; }

.carritoContainer {
  background-color: white;
  color: black;
  position: fixed;
  width: 20%;
  padding: 1%;
  top: 0;
  right: 0; }

.carritoElem {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr auto 1fr 1fr auto;
  grid-template-areas: "TIT CLS" "LIS LIS" "TOT TOT" "COM EMT" "THK THK"; }
  .carritoElem h2 {
    grid-area: TIT; }
  .carritoElem .cerrar {
    grid-area: CLS; }
  .carritoElem ul {
    grid-area: LIS;
    list-style: none; }
    .carritoElem ul li {
      border-top: lightgray 1px solid;
      border-bottom: lightgray 1px solid; }
  .carritoElem p {
    grid-area: TOT; }
  .carritoElem .comprarBtn {
    grid-area: COM; }
  .carritoElem .vaciarBtn {
    grid-area: EMT; }
  .carritoElem .gracias {
    grid-area: THK;
    color: limegreen;
    text-align: center;
    font-size: 1.2em; }

.hide {
  display: none; }
