.crimson {
    color: crimson;
}

.royalblue {
    color: royalblue;
}

.blueviolet {
    color: blueviolet;
}

.deeppink {
    color: deeppink;
}

.limegreen {
    color: limegreen;
}

.red {
    color: red;
}

.white-bg {
    background-color: white;
}

.lightgray-bg {
    background-color: lightgray;
}